/*******************************************************/

/*    TAGS    */
body{
  background: #b2dfdb;
}

header{
  margin: 3% 0% 5% 0%;
}

footer{
  margin: 3%;
  padding: 2%;
  color: green;
  border-top-style: solid;
  border-width: thin;
  text-align: right;
  border-color: #4000ff;
}

input, select, optgroup {
    -moz-appearance:textfield;
    margin: 3%;
    width: auto;
}

a{
  color: green;
  text-decoration: none;
}

h1{
  font-family: algerian;
  color: red;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  text-transform: uppercase;
}

h3{
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-style: double;
  text-transform: capitalize;
}

form{
  margin: 2% 25% 2% 25%;
  background: #eeeeee;
  text-align: center;
  text-align-last: center;
  width: auto;
  height: inherit;
}

p{
  font-family: impact;
  color: red;
  font-weight: bold;
}

button{
  -moz-appearance:textfield;
  margin: 3%;
  width: 50%;
  padding: 2% 1%;
  border: none;
  border-radius: 8%;
  transition: all 0.3s ease;
}

/*******************************************************/

/*    CLASS    */

.manu{
 height: 8px;
 width: 100%;
}

.inputBox{
  padding: 1%;
  text-transform: full-width;
}

.form{
  border-style: double;
  border-radius: 12% 0;
}

.form-group{
  width: 50%;
  padding: 25%;
}

.para{
  padding: 1% 50% 0% 50% !important;
  transition: all 0.2s ease;
}
/*******************************************************/

/*    ID    */

#para, ul {
  padding: 5% 25%;
  text-align-last: justify;
  color: blue;
  font-size: 1.3em;
}

#sub-heading {
  width: auto;
  text-align: center;
}

/*******************************************************/

/*    HOVER or ACTIVE or VISITED    */
header:hover {
  text-shadow: 0px 0px 5px black;
}

button:hover{
  border: solid;
  border-width: thin;
  border-radius: 8%;
  transition: all 0.3s ease;
  text-shadow: -2px 2px 3px red;
}

input:active, input:hover{
  box-shadow: 0px 0px 12px #ffca28;
}

.form:hover {
  box-shadow: 0px 0px 12px yellow;
}
.form:active {
  box-shadow: 0px 0px 12px #ffca28;
}

/* Webkit browsers like Safari and Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
