/*******************************************************/

/*    TAGS    */
body{
  background: #2f4550; /*  b2dfdb  */
}

input, select, optgroup {
    -moz-appearance:textfield;
    margin: 3% 0;
    width: 100%;
}

h3{
  font-family: sans-serif;
  text-decoration: underline;
  text-decoration-style: double;
  text-transform: capitalize;
}

h4 {
  text-decoration: underline;
  font-size: 28pt;
  font-weight: bold;
  color: #5bc2e7;
}

form{
  margin: 2% 25% 2% 25%;
  background: #eeeeee;
  text-align: center;
  text-align-last: center;
  width: auto;
  height: inherit;
}

p{
  font-family: impact;
  color: red;
  font-weight: bold;
}

button{
  -moz-appearance:textfield;
  margin: 3%;
  width: 50%;
  padding: 2% 1%;
  background: rgb(47, 69, 80, 0.7);
  font-size: 12pt;
  color: #d8dbe2;
  font-weight: bold;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
}

/*******************************************************/

/*    CLASS    */

.inputBox{
  padding: 1%;
  text-transform: full-width;
}

.form{
  border-style: double;
  border-radius: 5% 0;
}

.form-group{
  width: 50%;
  padding: 25%;
}

.para{
  padding: 1% 50% 0% 50% !important;
  transition: all 0.2s ease;
}

.about {
  text-align: justify;
  font-size: 18pt;
  font-weight: normal;
  color: #fff;
}

.top {
  text-decoration: underline !important;
}
/*******************************************************/

/*    ID    */

#para, ul {
  padding: 5% 25%;
  text-align-last: justify;
  color: blue;
  font-size: 1.3em;
}

#sub-heading {
  width: auto;
  text-align: center;
}

#about{
  width: 55%;
  float: inherit;
  margin: 10% 30% 25% 10%;
  text-align: justify;
  width: auto;
  height: inherit;
  height: 80%;
  border-top-style: dotted;
  border-color: #fbfcff;
}

/*******************************************************/

/*    HOVER or ACTIVE or VISITED    */

button:hover, button:visited, button:checked, button:active {
  background: rgba(47, 69, 80);
  border-radius: 2%;
  font-weight: bold;
  transition: all 0.7s ease-in;
  text-shadow: 0px 1px 1px grey;
}

input:active, input:hover{
  box-shadow: 0px 0px 6px #ffca28;
}

.form:hover {
  box-shadow: 0px 2px 8px #77f0b0;
  transition: all 0.5s ease;
}
.form:active {
  box-shadow: 0px 0px 12px #77f0b0;
}

/* Webkit browsers like Safari and Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
